@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    /*******************************************************************************
        COLORS
    ********************************************************************************/

    /*** Primary ***/
    --color-moderate-violet: hsl(263, 55%, 52%);
    --color-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-dark-blackish-blue: hsl(219, 29%, 14%);
    --color-white: hsl(0, 0%, 100%);

    /*** Neutral ***/
    --color-light-gray: hsl(0, 0%, 81%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);

    /*******************************************************************************
        TYPOGRAPHY
    ********************************************************************************/

    --font-family: 'Barlow Semi Condensed', sans-serif;
    --font-size: 13px;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-line-height: 1.5;

    /*******************************************************************************
        OPACITY
    ********************************************************************************/

    --verified-opacity: 50%;
    --review-opacity: 70%;
}


/*******************************************************************************
    RESET
********************************************************************************/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*******************************************************************************
    DESKTOP
********************************************************************************/

body {
    font-size: var(--font-size);
    background-color: var(--color-light-grayish-blue);
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.testimonials {
    font-family: var(--font-family);
    font-size: var(--font-size);
    max-width: 1440px;

    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* grid-template-columns: repeat(2, 1fr); */
}

.card {
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 10px;
}

.card__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card__header h4 {
    font-size: var(--font-size);
}

.card__header p {
    opacity: var(--verified-opacity);
}

.card__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--color-moderate-violet);
    margin-right: 10px;
}

.card__lead {
    font-size: 1.5rem;
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--font-line-height);
    margin-bottom: 20px;
}

.card__quote {
    font-size: var(--font-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--font-line-height);
    opacity: var(--review-opacity);
}

.card--bg-violet {
    color: var(--color-white);
    background-color: var(--color-moderate-violet);
    background-image: url('../images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 10px right 150px;
}

.card--bg-grayish-blue {
    color: var(--color-white);
    background-color: var(--color-dark-grayish-blue);
}

.card--bg-blackish-blue {
    color: var(--color-white);
    background-color: var(--color-dark-blackish-blue);
}

.card:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1;
}

.card:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1;
}

.card:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.card:nth-of-type(4) {
    grid-column: 2 / 4;
    grid-row: 2 / 3 ;
}

.card:nth-of-type(5) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

@media (max-width: 768px){
    .testimonials {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}